@tailwind base;
@tailwind components;
@tailwind utilities;


*, {
@apply  m-0 p-0 box-border text-zinc-200;
}

body{
  @apply bg-zinc-800;
}

a,
a:hover, 
a:visited {
  color: unset;
  text-decoration: none;
}

